{% extends "./base.html" %}
{% block content %}
<!-- static stylesheet CSS -->
<link rel="stylesheet" type="text/css" href="./static/css/exercise.css">
{% load static %}
<script src="{% static '../static/js/exercise.js' %}" defer></script>
{{ shows|json_script }}
<div id="calender">
    <div class="month">
        <p>{{ month }}</p>
    </div>
    <div class="days">
        {% for day, date in days.items %}
        {% if day == today_day %}
        <div id={{ day }} class="cal-div cal-highlight" onclick="cal_click(this.id);">
            <p class="day">{{ day }}</p><p class="date">{{ date }}</p>
        </div>
        {% else %}
        <div id={{ day }} class="cal-div" onclick="cal_click(this.id);">
            <p class="day">{{ day }}</p><p class="date">{{ date }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="no-video">
    <p>No workout for today!</p>
</div>
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/H2U3HwAyBXg"></iframe>
</div>
<div class="workout-tab">
    <div class="workout-div">
        <div class="exercise-highlight exercise">
            <p>Exercise 1</p>
        </div>
        <div class="exercise">
            <p>Exercise 2</p>
        </div>
        <div class="exercise">
            <p>Exercise 3</p>
        </div>
        <div class="exercise">
            <p>Exercise 4</p>
        </div>
        <form method="post" action="{% url 'mark-complete' %}">
            {% csrf_token %}
            <button id="mark-complete-button" type="submit"></button>
        </form>
    </div>
</div>
{% endblock %}