{% extends "./base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="profile-user-card">
            <img src="{{ profile.profile_image.url }}" class="rounded-circle" width="100" height="100" />
            <h3 class="profile-user">@{{ profile.user }}</h3>
            {% if profile.name %}
            <p class="profile-info">{{ profile.name }}</p>
            {% endif %}

            <p class="profile-info">Current streak: {{ profile.current_streak }} days</p>
            <p class="profile-info">Highest streak: {{ profile.highest_streak }} days</p>
            {% if user == request.user %}
            <a class="profile-setting" href="{% url 'settings' %}"><i class="fas fa-cog"></i></a>
            <a href="./logout/" class="btn profile-button red-button">Logout</a>
            {% else %}
            {% if is_following %}
            <div>
                <form method="POST" action="{% url 'remove-follow' profile.pk %}">
                    {% csrf_token %}
                    <button class="btn profile-button blue-button" type="submit">Unfollow</button>
                </form>
            </div>
            {% else %}
            <div>
                <form method="POST" action="{% url 'follow' profile.pk %}">
                    {% csrf_token %}
                    <button class="btn profile-button green-button" type="submit">Follow</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}