{% extends 'pages/base.html' %}
{% block content %}
<div class="container search-container">
    {% for profile in profile_list %}
    <div class="row justify-content-center mt-5">
        <div class="user-card">
            <img src="{{ profile.profile_image.url }}" class="rounded-circle" width="100" height="100" />
            <div class="profile-div">
                <p><a class="text-primary user-link" href="{% url 'profile' profile.pk %}">@{{ profile.user }}</a></p>
                {% if profile.name %}
                <p class="user-name">{{ profile.name }}</p>
                {% endif %}
            </div>
            <div class="search-space-div"></div>
            {% if profile.user == request.user %}
            <a class="btn search-view-profile-button blue-button" href="{% url 'profile' profile.pk %}">View profile</a>
            {% else %}
            {% if profile.user in following_list %}
            <form method="POST" action="{% url 'remove-follow' profile.pk %}">
                {% csrf_token %}
                <button class="search-profile-button blue-button" type="submit">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="{% url 'follow' profile.pk %}">
                {% csrf_token %}
                <button class="search-profile-button green-button" type="submit">Follow</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}